@import './reset.css';
@import './typography.css';
@import './buttons.css';
@import './forms.css';
@import 'https://use.fontawesome.com/releases/v5.15.4/css/all.css';

/* <i class="fas fa-globe-americas"></i> */

/* <i class="fas fa-phone-volume"></i> */
/* <i class="fas fa-envelope"></i> */
/* <i class="fas fa-clock"></i> */
/* <i class="fas fa-map-marked"></i> */

/* <i class="fas fa-user"></i> */

/* <i class="fas fa-bars"></i> */


body {
    background-color: #FAFAFA;
}


#root {
    font-size: 0px;
    max-width: 800px;
    min-width: 600px;
    margin: auto;
}


a {
    text-decoration: none;
    color: #333;
}

header {
    /* background-color: #969f54; */

    font-size: 16px;
    display: flex;
    align-items:center;
    padding-top: 10px;
    column-gap: 10px;
    height: 60px;
}

.title-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width:145px;
}

.title-container>h1 {
    color: #54749F;
    /* font-family: Poppins, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.title-container>p {
    text-transform: uppercase;
    font-size: small;
    margin-right: 0px;
    padding: 0;
    transform: scaleX(0.4);
    letter-spacing: 12.5px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap; 
}

header>nav>ul {
    display: inline-flex;
    gap: 30px;
}

header>nav {
    margin-left: 50px;
    margin-right: auto;
}






aside {
    /* background-color: #54749F; */
    font-size: 16px;
    display: inline-block;
    width: 100px;
    vertical-align: top;
    height: calc(100vh - 60px - 40px);
    min-height: 200px;
    margin-top: 5px;


    overflow-y: auto;
    scrollbar-width:thin;
    scroll-behavior: smooth;
}



main {
    /* background-color: #64d27f; */
    font-size: 16px;
    display: inline-flex;
    width: calc(100% - 100px);
    vertical-align: top;
    height: calc(100vh - 60px - 40px);
    min-height: 200px;

    margin-top: 5px;

    align-items: center;
    justify-content: center;

    overflow-y: auto;
    scrollbar-width:thin;
    scroll-behavior: smooth;
}


footer {
    /* background-color: #9f547a; */
    margin-top: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 30px;
}