@import './reset.css';



body {
    font-size: 0px;
}

header {
    font-size: 16px;
    background-color: orange;
    height: 50px;
}

aside {
    font-size: 16px;
    display: inline-block;
    background-color: rgb(76, 0, 255);
    width: 10%;
    vertical-align: top;
    height: calc(100vh - 50px - 50px);
    overflow-y: auto;
}

main {
    font-size: 16px;
    display: inline-block;
    background-color: rgb(0, 255, 30);
    width: 90%;
    vertical-align: top;
    height: calc(100vh - 50px - 50px);
}

footer {
    font-size: 16px;
    background-color: rgb(83, 82, 81);
    height: 50px;
}